services:
  # 1. API Gateway
  alz-gateway:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      # แก้ path ตรงนี้ให้ชี้ไปที่ folder infra/
      - ./infra/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend-core

  # 2. Frontend (React)
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  # 3. Backend Core (ยุบรวม 5 Services)
  backend-core:
    build: ./services/backend-core
    ports:
      - "3001:3000" # (เปิด 3001 ไว้เผื่ออยากยิง Postman เทสต์ตรงๆ)
    volumes:
      - ./services/backend-core:/app
      - /app/node_modules
    environment:
      - MONGO_URI=mongodb://alz-mongo:27017/alzheimer_db
    depends_on:
      - alz-mongo

  # 4. AI Service (Python)
  svc-ai:
    build: ./services/ai-service
    ports:
      - "5000:5000"
    volumes:
      - ./services/ai-service:/app

  # 5. Database
  alz-mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: